.pageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 5%;
    gap: 20px;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: fit-content;
    margin: auto;
    width: 100%;
}

.customerOrDoctorButtonContainer {
    width: 70%;
    border: none;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 999rem;
    
}

.active {
    background-color: rgb(204, 195, 255);
    color: rgb(87, 7, 80);
}

.inactive {
    background-color: transparent;
    color: rgb(161, 131, 251);
}

.customerOrDoctorButtonContainer button {
    padding: 10px 10px;
    width: 100%;
    border-radius: 999rem;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    width: 70%;

}

.form>div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;

}

.form div label {
    font-weight: bold;
}

.formDiv input {
    height: 40px;
    padding: 0 3px;
    border-radius: 5px;
    border: 2px solid rgb(211, 208, 208);
    width: 115%;
}

.form div input[type=number]::-webkit-inner-spin-button,
.form div input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.passwordContainer {
    height: 40px;
    padding-right: 2px;
    border-radius: 5px;
    border: 2px solid rgb(211, 208, 208);
    display: flex;
    flex-direction: row;
    width: 115%;
}

.passwordContainer input {
    width: 95%;
    padding: 0 3px;
    border: none;
    outline: none;
}

.passwordContainer button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.checkboxContainer{
    display: flex;
    gap:10px;
    justify-content: center;
    margin-top: 10px;
    
}
.checkboxContainer input{
    width: 20px;
}

.signupButtonContainer{
    align-items: center;
    margin: 10px 0;
}
.signupButton{
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    color: rgb(92, 62, 229) ;
    border: none;
}

.signupButton:not(:disabled):hover{
    color: white;
    background: linear-gradient(to right,rgb(163, 145, 241),rgb(102, 71, 240));
    cursor: pointer;
}

.signupButton:disabled{
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    
}

.googleFacebookMainContainer{
    display: flex;
    flex-direction: column;
    
}

.googleFacebookMainContainer p{
    margin-bottom:15px ;
    font-size:medium;
    color: gray;
    text-align: center;
}

.googleFacebookContainer{
    display: flex;
    gap: 5px;
}

.googleFacebookContainer button{
    padding: 10px;
    width: 100px;
    border-radius: 10px;
}
.signupGoogleButton{
    background-color: transparent;
    border: 2px solid gray;
    color: red;
}
.signupFacebookButton{
    background-color: transparent;
    border: 2px solid gray;
    color: blue;
}

.signupGoogleButton:hover{
    color: white;
    background-color: rgb(217, 73, 73);
    cursor: pointer;
}
.signupFacebookButton:hover{
    color: white;
    background-color: rgb(67, 67, 195);
    cursor: pointer;
}
.signinContainer{
    display: flex;
    gap: 2px;
}
.signinContainer a{
    border: none;
    background-color: transparent;
    color: rgb(93, 8, 239);
    cursor: pointer;
}
.signinContainer a:hover {
    color: crimson;
    text-decoration: underline;
}

.error{
    color: red;
}
